:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 100vw; */
  /* height: 40vh; */
}

.graph-types, .map {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 100vw;
}

.map {
  height: 90vh;
}

